.btn {
  padding: var(--btn-padding);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  background-color: var(--sec-color);
  color: var(--white);
}
