.products {
  margin-bottom: var(--internal-margin);
}

.products .fil-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .fil-cont .fil {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.products .fil-cont .fil .filter {
  background-color: var(--main-color);
  padding: var(--main-padding);
}

.products .fil-cont .fil .filter span {
  margin-right: var(--main-margin);
}

.products .fil-cont .fil form {
  background-color: var(--main-color);
  padding: var(--main-padding);
}

.products .fil-cont .sort {
  background-color: var(--main-color);
  padding: var(--main-padding);
}

.products .fil-cont .sort span {
  margin-right: var(--main-margin);
}

@media (max-width: 992px) {
  /* responsive design */
  .products .fil-cont .fil {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .products .fil-cont .sort {
    width: 100px;
    text-align: center;
  }

  .products .fil-cont {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  .products .cards-cont {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  .products .cards-cont .card {
    width: 300px;
  }
  .products .cards-cont .card img{
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 768px) {
}
